<div class="main">
  <table>
    <tr>
      <td>
        <app-timer-button text="two" [time]="2"></app-timer-button>
      </td>
      <td>
        <app-timer-button text="five" [time]="5"></app-timer-button>
      </td>
      <td>
        <app-timer-button text="ten" [time]="10"></app-timer-button>
      </td>
    </tr>
    <tr>
      <td>
        <app-timer-button text="fifteen" [time]="15"></app-timer-button>
      </td>
      <td>
        <app-timer-button text="twenty" [time]="20"></app-timer-button>
      </td>
      <td>
        <app-timer-button text="twenty-five" [time]="25"></app-timer-button>
      </td>
    </tr>
    <tr>
      <td>
        <app-timer-button text="thirty" [time]="30"></app-timer-button>
      </td>
      <td>
        <app-timer-button text="thirty-five" [time]="35"></app-timer-button>
      </td>
      <td>
        <app-timer-button text="forty" [time]="40"></app-timer-button>
      </td>
    </tr>
    <tr>
      <td>
        <app-timer-button text="forty-five" [time]="45"></app-timer-button>
      </td>
      <td>
        <app-timer-button text="fifty" [time]="50"></app-timer-button>
      </td>
      <td>
        <app-timer-button text="fifty-five" [time]="55"></app-timer-button>
      </td>
    </tr>
    <tr>
      <td>
        <app-timer-button text="sixty" [time]="60"></app-timer-button>
      </td>
      <td>
        <app-timer-button text="sixty-five" [time]="65"></app-timer-button>
      </td>
      <td>
        <app-timer-button text="seventy" [time]="70"></app-timer-button>
      </td>
    </tr>
    <tr>
      <td>
        <app-timer-button text="seventy-five" [time]="75"></app-timer-button>
      </td>
      <td>
        <app-timer-button text="eighty" [time]="80"></app-timer-button>
      </td>
      <td>
        <app-timer-button text="zero" [time]="0"></app-timer-button>
      </td>
    </tr>
  </table>
</div>
